@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.header{
    margin-top: 0px;
    padding: 11px;
    width: auto;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 600;
    background-color: #F4B400;
}
